## Course Test Course (12345)

### Manifest (Modules)
- **Modified**: `imsmanifest.xml` **[Content Change]**
  ```diff
  --- Previous
  +++ Current
  @@ -2,5 +2,5 @@
   1.1.0
   Writing in Professional Contexts (English Master)
  -2026-08-14
  +2026-09-03
   yes
   Private (Copyrighted) - http://en.wikipedia.org/wiki/Copyright
  ```

### Assignments
- **Modified**: `g35cfffaa8265b4c1356746a7cad763f2/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   e40a9cae-6b82-4c95-8ae9-3212a6a30f35
   false
  ```
- **Modified**: `g43687d481ac1b1e9318230a9ca539ecd/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   8d005615-19cf-47ce-a481-54282150e2aa
   false
  ```
- **Modified**: `g48e50342eee1fc6f5f081b56f724729c/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -39,4 +39,5 @@
   true
   false
  +{"require_lockdown_browser":false}
   ea77e30c-3c8c-4a34-a813-90e1eb078fa5
   false
  ```
- **Modified**: `g51835a5812e7e32f659d5c3933ad899a/assignment_settings.xml` **[Content Change]** **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -7,5 +7,5 @@
   ga772b4c862800010ff1783a9996986fd
   published
  -g46b9acff4cab6c74909ba5b9dae78d1f
  +gc724c6ad4ef24fe8094b84f0cd9332c2
   true
   false
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   81978cb9-4845-4cc4-92d5-13c639cb01b7
   false
  ```
- **Modified**: `g5f4b42937b8d2e7225a3ae6ed4676220/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   1c55923e-db68-4924-865e-8139938eca4d
   false
  ```
- **Modified**: `g6ce9653a820be4ffd6929e6b8ee08ef8/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   4497d7f4-83ea-4377-8014-baca028c4084
   false
  ```
- **Modified**: `g70efcad0d87fc8f5eac41140860ce541/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   03a8262a-64d1-4c57-b259-4e5d39291dba
   false
  ```
- **Modified**: `g8d54f2d04af2cb1ea339b1fd8d050f6c/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -39,4 +39,5 @@
   true
   false
  +{"require_lockdown_browser":false}
   1a195fcf-65e2-40b7-a1af-ad92b6db6456
   false
  ```
- **Modified**: `g96d8598b4de597c3842fa03f9a7644cc/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   66424737-a13c-45b0-8de0-fb709a510a83
   false
  ```
- **Modified**: `ga44af1c2a76a71adfb336f859720670d/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -39,4 +39,5 @@
   true
   false
  +{"require_lockdown_browser":false}
   5ce1ae3c-c296-4bfc-ab2d-92089f0a4e9c
   false
  ```
- **Modified**: `gabb1c0ba27155ceafd81fd3f1a42e322/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   10917932-72dd-47a1-9ab6-99e9f9adc28c
   false
  ```
- **Modified**: `gb1443972ac0470ff2b3d6d041d2b9e5b/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   6ac756c9-d877-4566-bc9a-a6268a741fe2
   false
  ```
- **Modified**: `gb77c6081f703d80caea2c784e5bca37a/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   -1
  +{"require_lockdown_browser":false}
   e9da2d32-6174-476a-a330-3ce988166ae0
   false
  ```
- **Modified**: `gb91d16dd32416f32c7ed6bce9ad4ff5f/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -39,4 +39,5 @@
   true
   false
  +{"require_lockdown_browser":false}
   e16b1426-c73d-4c2d-bb7f-c9b5af4dcc87
   false
  ```
- **Modified**: `gc1da5082f16ce8cc79df6bc76797264e/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -39,3 +39,4 @@
   {"selection_width":"","selection_height":""}
   true
  +{"require_lockdown_browser":false}
   false
  ```
- **Modified**: `gc47628369e8f6502eeacf6521ceb339a/assignment_settings.xml` **[Content Change]** **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -8,5 +8,5 @@
   published
   gf6542190df6b56f243d71d08738ce774
  -false
  +true
   false
   false
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   96b127e8-e550-4f4f-85de-1bed9aaac01e
   false
  ```
- **Modified**: `gea837f670860b0478c202d4a4af9ccb2/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   aee2c710-590a-45a3-b56e-052d0409adeb
   false
  ```
- **Modified**: `gfa7f01723638b553c84050b00700c349/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   2
  +{"require_lockdown_browser":false}
   048e1faf-9cb2-46da-91ac-eb522e183563
   false
  ```
- **Modified**: `gfb7d492b864bb2061a19122a59f2c56b/assignment_settings.xml` **[Date/Restriction]**
  ```diff
  --- Previous
  +++ Current
  @@ -40,4 +40,5 @@
   false
   -1
  +{"require_lockdown_browser":false}
   43756b1d-efc5-43a5-a5c5-7dc1c1be49b9
   false
  ```

### Pages
- **Modified (Binary/Metadata)**: `wiki_content/about-your-textbook-writing-in-professional-contexts.html` **[Metadata/System]**

### Rubrics
- **Modified**: `course_settings/rubrics.xml` **[Content Change]**
  ```diff
  --- Previous
  +++ Current
  @@ -2019,2 +2019,102 @@
   Errors significantly interfere with understanding.
   _7147
  +false
  +W02: AI Prompt Comparison Activity
  +false
  +false
  +12.0
  +false
  +false
  +descending
  +_5207
  +1.0
  +Prompt 1 Provided
  +Mastery
  +1.0
  +_5207
  +Prompt one is clearly labeled and present. The prompt is brief and lacks detail, consistent with a weak prompt.
  +blank
  +Proficient
  +0.5
  +_5207
  +Prompt one is labeled and present but may include more detail than expected for a weak prompt.
  +_6670
  +Developing
  +0.25
  +_5207
  +Prompt one is present but unclear, mislabeled, or does not reflect a weak prompt.
  ... (diff truncated)
  ```
